name: Deploy Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and deploy Docker Compose
        run: |
          echo "Stopping existing containers..."
          docker-compose down -v
          echo "Building and starting containers..."
          docker-compose up -d --build

