name: Test Workflow

on:
  push:
    branches-ignore:
      - main

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm ci
      - run: node --experimental-vm-modules node_modules/jest/bin/jest.js

